In [52]:
import pandas as pd

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

name_age_df = pd.DataFrame(test_df[(test_df["Pclass"] == 1) & (test_df["Sex"] == "female")])
print(name_age_df[["Name","Age"]])

                                                  Name   Age
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)  23.0
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...  47.0
22                Flegenheim, Mrs. Alfred (Antoinette)   NaN
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  48.0
26                        Ostby, Miss. Helene Ragnhild  22.0
44    Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)  45.0
48     Bucknell, Mrs. William Robert (Emma Eliza Ward)  60.0
53                          Fortune, Miss. Ethel Flora  28.0
59                         Chaudanson, Miss. Victorine  36.0
69                 Fortune, Mrs. Mark (Mary McDougald)  60.0
74                                Geiger, Miss. Amalie  35.0
77   Cornell, Mrs. Robert Clifford (Malvina Helen L...  55.0
92                Davidson, Mrs. Thornton (Orian Hays)  27.0
96   Cavendish, Mrs. Tyrell William (Julia Florence...  76.0
100  Stengel, Mrs. Charles Emil Henry (Annie May Mo...  43.0
112                           Evans, Miss. Edith Corse  36.0
114             Straus, Mrs. Isidor (Rosalie Ida Blun)  63.0
122                    Schabert, Mrs. Paul (Emma Mock)  35.0
141                               Daniels, Miss. Sarah  33.0
150              Earnshaw, Mrs. Boulton (Olive Potter)  23.0
156                                  Bird, Miss. Ellen  29.0
168  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...   NaN
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  64.0
182  Marvin, Mrs. Daniel Warner (Mary Graham Carmic...  18.0
184  Douglas, Mrs. Frederick Charles (Mary Helene B...  27.0
208                      Rosenbaum, Miss. Edith Louise  33.0
218       Widener, Mrs. George Dunton (Eleanor Elkins)  50.0
224   Candee, Mrs. Edward (Helen Churchill Hungerford)  53.0
231                           Willard, Miss. Constance  21.0
239        Douglas, Mrs. Walter Donald (Mahala Dutton)  48.0
240          Lindstrom, Mrs. Carl Johan (Sigrid Posse)  55.0
272      Clark, Mrs. Walter Miller (Virginia McDowell)  26.0
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  64.0
314              White, Mrs. John Stuart (Ella Holmes)  55.0
324                             Kreuchen, Miss. Emilie  39.0
343  Cardeza, Mrs. James Warburton Martinez (Charlo...  58.0
350       Greenfield, Mrs. Leo David (Blanche Strouse)  45.0
356     Brown, Mrs. John Murray (Caroline Lane Lamson)  59.0
364       Harder, Mrs. George Achilles (Dorothy Annan)  25.0
368            Gibson, Mrs. Leonard (Pauline C Boeson)  45.0
371                          Wilson, Miss. Helen Alice  31.0
374              Dodge, Mrs. Washington (Ruth Vidaver)  54.0
375                           Bowen, Miss. Grace Scott  45.0
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  51.0
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  18.0
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  48.0
400                            Bonnell, Miss. Caroline  30.0
402                     Gibson, Miss. Dorothy Winifred  22.0
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  37.0
414                       Oliva y Ocana, Dona. Fermina  39.0

In [53]:
sub_df = train_df.groupby(["Pclass","Sex"])
print(sub_df.mean("Fare"))
print(sub_df.agg('count')["PassengerId"])

               PassengerId  Survived        Age     SibSp     Parch  \
Pclass Sex
1      female   469.212766  0.968085  34.611765  0.553191  0.457447
       male     455.729508  0.368852  41.281386  0.311475  0.278689
2      female   443.105263  0.921053  28.722973  0.486842  0.605263
       male     447.962963  0.157407  30.740707  0.342593  0.222222
3      female   399.729167  0.500000  21.750000  0.895833  0.798611
       male     455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Pclass Sex
1      female  106.125798
       male     67.226127
2      female   21.970121
       male     19.741782
3      female   16.118810
       male     12.661633
Pclass  Sex
1       female     94
        male      122
2       female     76
        male      108
3       female    144
        male      347
Name: PassengerId, dtype: int64

In [54]:
new_passengers = pd.DataFrame({
    'PassengerId': [892,893],
    'Name': ['Mr. Test A', 'Mrs. Test B'],
    'Age': [45.0, None] # Пропуск в возрасте для Mrs. Test B
})
sub_df = pd.merge(test_df,new_passengers,how="left",on="PassengerId")
sub_df.loc[(sub_df["Name_y"] == "Mrs. Test B"),"Age_y"].fillna(test_df["Age"].median())

1    27.0
Name: Age_y, dtype: float64

In [55]:
print(train_df[(train_df["Sex"] == "female") & (train_df["Pclass"] == 1)].loc[:,["Name","Sex","Pclass"]])

                                                  Name     Sex  Pclass
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female       1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female       1
11                            Bonnell, Miss. Elizabeth  female       1
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female       1
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female       1
..                                                 ...     ...     ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female       1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female       1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female       1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female       1
887                       Graham, Miss. Margaret Edith  female       1

[94 rows x 3 columns]

In [56]:
print(train_df.loc[2:3, ["Name","Age"]])

                                           Name   Age
2                        Heikkinen, Miss. Laina  26.0
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0

In [57]:
print(train_df.iloc[3:7, [3,5]])

                                           Name   Age
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                      Allen, Mr. William Henry  35.0
5                              Moran, Mr. James   NaN
6                       McCarthy, Mr. Timothy J  54.0

In [58]:
train_df.groupby(["Pclass","Sex"]).agg(
    Средний_возраст = ("Age","mean"),
    Средняя_цена = ("Fare","mean"),
    Количетсво = ("PassengerId","count"),
    Выжившие = ("Survived","sum")
)

               Средний_возраст  Средняя_цена  Количетсво  Выжившие
Pclass Sex
1      female        34.611765    106.125798          94        91
       male          41.281386     67.226127         122        45
2      female        28.722973     21.970121          76        70
       male          30.740707     19.741782         108        17
3      female        21.750000     16.118810         144        72
       male          26.507589     12.661633         347        47

In [59]:
median_age = train_df["Age"].mean()
train_df["Age"].fillna(median_age, inplace=True)
print(train_df[train_df["Age"] == median_age].loc[:, ["Name","Age"]])

                                         Name        Age
5                            Moran, Mr. James  29.699118
17               Williams, Mr. Charles Eugene  29.699118
19                    Masselmani, Mrs. Fatima  29.699118
26                    Emir, Mr. Farred Chehab  29.699118
28              O'Dwyer, Miss. Ellen "Nellie"  29.699118
..                                        ...        ...
859                          Razi, Mr. Raihed  29.699118
863         Sage, Miss. Dorothy Edith "Dolly"  29.699118
868               van Melkebeke, Mr. Philemon  29.699118
878                        Laleff, Mr. Kristo  29.699118
888  Johnston, Miss. Catherine Helen "Carrie"  29.699118

[177 rows x 2 columns]

/var/folders/j7/5nlcf9fd527gg_vs5c9yp43r0000gn/T/ipykernel_48509/1714700000.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Age"].fillna(median_age, inplace=True)

In [60]:
df_dropped = train_df.dropna(subset=["Cabin"])
print(df_dropped.loc[df_dropped["PassengerId"] == 10])

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [61]:
from sklearn.tree import DecisionTreeClassifier

# Заполняем пропуск в цене билета (если еще не сделали это ранее)
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())

# Выбираем признаки, которые будем использовать (пол и класс)
features = ["Pclass", "Sex"]

# Преобразуем пол из 'male'/'female' в числа 0/1 (алгоритмы любят числа)
train_df['Sex'] = train_df['Sex'].map({'female': 1, 'male': 0})
test_df['Sex'] = test_df['Sex'].map({'female': 1, 'male': 0})

# X - признаки для обучения, y - целевая переменная (ответы)
X = train_df[features]
y = train_df["Survived"]

In [62]:
# Создаем модель Дерева решений (random_state=1 для повторяемости результата)
model = DecisionTreeClassifier(random_state=1)

# Обучаем модель на наших данных. Компьютер УЧИТСЯ находить правила!
model.fit(X, y)

print("Модель обучена и готова предсказывать!")

Модель обучена и готова предсказывать!

In [63]:
# Делаем предсказание для тестовых данных (где нет ответов Survived)
predictions = model.predict(test_df[features])

# Формируем файл submission.csv
submission_ml_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions})

# Сохраняем итоговый файл
submission_ml_df.to_csv('submission_decision_tree.csv', index=False)

In [64]:
import re

# Используем более безопасный метод .str.extract() вместо apply() с regex
# Он автоматически обрабатывает NaN значения
train_df['Title'] = train_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test_df['Title'] = test_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Смотрим уникальные титулы и их количество
print("\nУникальные титулы и их количество:")
print(train_df['Title'].value_counts())

Уникальные титулы и их количество:
Title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: count, dtype: int64

In [65]:
# Определяем список основных титулов
major_titles = ['Mr', 'Miss', 'Mrs', 'Master']

# Выбираем те строки, где Title НЕ находится в списке major_titles, и заменяем его на "Rare"
train_df.loc[~train_df['Title'].isin(major_titles), 'Title'] = 'Rare'

# Делаем то же самое для тестового набора данных, это критически важно!
test_df.loc[~test_df['Title'].isin(major_titles), 'Title'] = 'Rare'

# Смотрим обновленный список уникальных титулов и их количество
print("\nУникальные титулы после объединения:")
print(train_df['Title'].value_counts())

Уникальные титулы после объединения:
Title
Mr        517
Miss      182
Mrs       125
Master     40
Rare       27
Name: count, dtype: int64

In [66]:
# train_df и test_df должны быть загружены с самого начала

# Заполняем пропуски в цене билета (если еще не сделали это ранее)
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())
train_df['Fare'] = train_df['Fare'].fillna(train_df['Fare'].median()) # Добавляем заполнение и для train_df

# Создаем числовые столбцы из категорий
train_dummies = pd.get_dummies(train_df[['Sex', 'Pclass', 'Title']], drop_first=True)
test_dummies = pd.get_dummies(test_df[['Sex', 'Pclass', 'Title']], drop_first=True)

# !!! Синхронизируем: добавляем цену билета к признакам !!!
train_dummies['Fare'] = train_df['Fare']
test_dummies['Fare'] = test_df['Fare']

In [67]:
from sklearn.tree import DecisionTreeClassifier

X = train_dummies # Теперь X содержит и 'Fare'!
y = train_df["Survived"]

model_v2 = DecisionTreeClassifier(random_state=1)
model_v2.fit(X, y)

print("Модель V2 обучена с использованием признака 'Title' и 'Fare'!")

Модель V2 обучена с использованием признака 'Title' и 'Fare'!

In [68]:
# Теперь test_dummies содержит те же столбцы, что и X
predictions_v2 = model_v2.predict(test_dummies)

submission_ml_v2_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_v2})

submission_ml_v2_df.to_csv('submission_decision_tree_v2_fare.csv', index=False)

In [69]:
from sklearn.tree import DecisionTreeClassifier

X = train_dummies
y = train_df["Survived"]

# Создаем модель Дерева решений и ОГРАНИЧИВАЕМ её глубину
model_v3 = DecisionTreeClassifier(random_state=1, max_depth=3) 

model_v3.fit(X, y)

print("Модель V3 обучена с ограниченной глубиной!")

Модель V3 обучена с ограниченной глубиной!

In [70]:
predictions_v3 = model_v2.predict(test_dummies)

submission_ml_v3_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_v2})

submission_ml_v3_df.to_csv('submission_decision_tree_v3.csv', index=False)

In [71]:
from sklearn.ensemble import RandomForestClassifier

# Создаем модель Случайного леса (указываем количество деревьев n_estimators=100)
# random_state=1 для повторяемости результата
model_rf = RandomForestClassifier(n_estimators=100, random_state=1)

# Обучаем модель на наших данных
X = train_dummies
y = train_df["Survived"]
model_rf.fit(X, y)

print("Модель Random Forest обучена!")

Модель Random Forest обучена!

In [72]:
# Делаем предсказание для тестовых данных
predictions_rf = model_rf.predict(test_dummies)

# Формируем файл submission.csv
submission_rf_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_rf})

# Сохраняем итоговый файл
submission_rf_df.to_csv('submission_random_forest.csv', index=False)

In [73]:
train_df["FamilySize"] = train_df['SibSp']+train_df['Parch']+1
test_df["FamilySize"] = test_df['SibSp']+test_df['Parch']+1

In [74]:
train_df.groupby('FamilySize').agg(
    Процент_выж = ('Survived','mean')
).sort_values("Процент_выж",ascending=False)

            Процент_выж
FamilySize
4              0.724138
3              0.578431
2              0.552795
7              0.333333
1              0.303538
5              0.200000
6              0.136364
8              0.000000
11             0.000000

In [75]:
train_df['IsAlone'] = (train_df['FamilySize'] == 1).astype(int)
test_df['IsAlone'] = (test_df['FamilySize'] == 1).astype(int)
print(train_df[['FamilySize', 'IsAlone']].head())

   FamilySize  IsAlone
0           2        0
1           2        0
2           1        1
3           2        0
4           1        1

In [76]:
# Выбираем признаки, которые будем использовать (наш лучший набор!)
features = ["Pclass", "Sex", "IsAlone", "Fare"]

# Убедимся, что все данные числовые (Sex уже должен быть 0/1 после предыдущих шагов)
# Если Sex снова 'male'/'female', выполни:
train_df['Sex'] = train_df['Sex'].map({'female': 1, 'male': 0})
test_df['Sex'] = test_df['Sex'].map({'female': 1, 'male': 0})

# X - признаки для обучения, y - целевая переменная (ответы)
X = train_df[features]
y = train_df["Survived"]

# Также подготовим тестовый набор (убедись, что 'Fare' заполнен, как мы делали ранее)
test_X = test_df[features]

In [77]:
from sklearn.ensemble import RandomForestClassifier

# Создаем и обучаем модель
model_rf_v2 = RandomForestClassifier(n_estimators=100, random_state=1)
model_rf_v2.fit(X, y)

print("Модель Random Forest V2 обучена с новыми признаками!")

Модель Random Forest V2 обучена с новыми признаками!

In [78]:
# Делаем предсказание для тестовых данных (test_X)
predictions_rf_v2 = model_rf_v2.predict(test_X)

# Формируем файл submission.csv
submission_rf_v2_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_rf_v2})

# Сохраняем итоговый файл
submission_rf_v2_df.to_csv('submission_random_forest_v2_final.csv', index=False)

In [79]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import re

# 1. Загрузка чистых данных заново
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# 2. FEATURE ENGINEERING (Сборка всех лучших признаков)

# Обработка пропусков в Fare и Age медианой
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].median())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].median())

# Создание FamilySize и IsAlone
train_df["FamilySize"] = train_df['SibSp'] + train_df['Parch'] + 1
test_df["FamilySize"] = test_df['SibSp'] + test_df['Parch'] + 1
train_df['IsAlone'] = (train_df['FamilySize'] == 1).astype(int)
test_df['IsAlone'] = (test_df['FamilySize'] == 1).astype(int)

# 3. Подготовка данных для модели (Финальная версия)
features = ["Pclass", "Sex", "IsAlone", "Fare", "Age"] # Добавим Age!

# Преобразуем Sex в числа 0/1
train_df['Sex'] = train_df['Sex'].map({'female': 1, 'male': 0})
test_df['Sex'] = test_df['Sex'].map({'female': 1, 'male': 0})

X = train_df[features]
y = train_df["Survived"]
test_X = test_df[features]


# 4. Обучение модели Random Forest
model_rf_final = RandomForestClassifier(n_estimators=100, random_state=1)
model_rf_final.fit(X, y)

# 5. Предсказание и отправка
predictions_rf_final = model_rf_final.predict(test_X)
submission_rf_final_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_rf_final})
submission_rf_final_df.to_csv('submission_random_forest_final.csv', index=False)

In [80]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler # Импортируем StandardScaler

# Загрузка чистых данных (на всякий случай)
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# Обработка пропусков (Age, Fare) и Feature Engineering (FamilySize, IsAlone)
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].median())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].median())
train_df["FamilySize"] = train_df['SibSp'] + train_df['Parch'] + 1
test_df["FamilySize"] = test_df['SibSp'] + test_df['Parch'] + 1
train_df['IsAlone'] = (train_df['FamilySize'] == 1).astype(int)
test_df['IsAlone'] = (test_df['FamilySize'] == 1).astype(int)

# Преобразование Sex в числа
train_df['Sex'] = train_df['Sex'].map({'female': 1, 'male': 0})
test_df['Sex'] = test_df['Sex'].map({'female': 1, 'male': 0})

# Выбор финальных признаков
features = ["Pclass", "Sex", "IsAlone", "Fare", "Age"]
X = train_df[features]
y = train_df["Survived"]
test_X = test_df[features]

# !!! МАШТАБИРОВАНИЕ ДАННЫХ !!!
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)         # Обучаем scaler и преобразуем обучающие данные
test_X_scaled = scaler.transform(test_X)  # Преобразуем тестовые данные (используя параметры из обучения)

In [81]:
model_rf_scaled = RandomForestClassifier(n_estimators=100, random_state=1)
# Обучаем модель на МАШТАБИРОВАННЫХ данных
model_rf_scaled.fit(X_scaled, y) 

print("Модель Random Forest обучена на масштабированных данных!")

Модель Random Forest обучена на масштабированных данных!

In [82]:
# Делаем предсказание для МАШТАБИРОВАННЫХ тестовых данных
predictions_rf_scaled = model_rf_scaled.predict(test_X_scaled)

submission_rf_final_scaled_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_rf_scaled})
submission_rf_final_scaled_df.to_csv('submission_random_forest_final_scaled.csv', index=False)

In [83]:
from sklearn.linear_model import LogisticRegression # Импортируем Логистическую регрессию

# Создаем модель и обучаем её на масштабированных данных
model_lr = LogisticRegression(random_state=1)
# Обучаем модель на МАШТАБИРОВАННЫХ данных
model_lr.fit(X_scaled, y) 

print("Модель Логистической регрессии обучена на масштабированных данных!")

Модель Логистической регрессии обучена на масштабированных данных!

In [84]:
# Делаем предсказание для МАШТАБИРОВАННЫХ тестовых данных
predictions_lr = model_lr.predict(test_X_scaled)

submission_lr_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_lr})
submission_lr_df.to_csv('submission_logistic_regression.csv', index=False)

In [85]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# Определяем "сетку" параметров, которые мы хотим проверить
param_grid = {
    'n_estimators': [50, 100, 200],       # Количество деревьев
    'max_depth': [None, 5, 10, 15],       # Максимальная глубина деревьев
    'min_samples_split': [2, 5, 10],      # Минимальное количество выборок для разделения
    'min_samples_leaf': [1, 3, 5]         # Минимальное количество выборок в листе
}

# Создаем модель Random Forest
rf_model = RandomForestClassifier(random_state=1)

# Создаем объект GridSearchCV
grid_search = GridSearchCV(
    estimator=rf_model,
    param_grid=param_grid,
    cv=5,            # Используем кросс-валидацию (5 разбиений данных)
    scoring='accuracy', # Метрика качества
    verbose=1,       # Выводим процесс обучения
    n_jobs=-1        # Используем все ядра процессора
)

# Запускаем поиск лучших параметров на масштабированных данных
grid_search.fit(X_scaled, y)

# Выводим лучшие найденные параметры и лучшую точность
print(f"\nЛучшие параметры: {grid_search.best_params_}")
print(f"Лучшая точность (кросс-валидация): {grid_search.best_score_}")

Fitting 5 folds for each of 108 candidates, totalling 540 fits

Лучшие параметры: {'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 200}
Лучшая точность (кросс-валидация): 0.8350699893289812

In [86]:
from sklearn.ensemble import RandomForestClassifier

# Используем ЛУЧШИЕ параметры, найденные Grid Search
best_params = {
    'max_depth': 10,
    'min_samples_leaf': 1,
    'min_samples_split': 10,
    'n_estimators': 200
}

# Создаем финальную модель с оптимальными параметрами
final_model = RandomForestClassifier(random_state=1, **best_params)

# Обучаем модель на масштабированных данных
final_model.fit(X_scaled, y)

print("Финальная модель обучена с оптимальными параметрами!")

# Делаем предсказание для масштабированных тестовых данных
predictions_final = final_model.predict(test_X_scaled)

submission_final_tuned_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': predictions_final})
submission_final_tuned_df.to_csv('submission_random_forest_tuned_final.csv', index=False)

Финальная модель обучена с оптимальными параметрами!

In [89]:
import re

# --- 1. Извлечение титулов с помощью регулярных выражений (безопасно) ---
train_df['Title'] = train_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test_df['Title'] = test_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# --- 2. Объединение редких титулов в категорию "Rare" ---
major_titles = ['Mr', 'Miss', 'Mrs', 'Master']

# Замена редких титулов на "Rare" в обучающем наборе
train_df.loc[~train_df['Title'].isin(major_titles), 'Title'] = 'Rare'

# Замена редких титулов на "Rare" в тестовом наборе
test_df.loc[~test_df['Title'].isin(major_titles), 'Title'] = 'Rare'

print("Уникальные титулы после обработки:")
print(train_df['Title'].value_counts())

# --- 3. Подготовка данных для модели с учетом нового признака Title ---
# Используем pd.get_dummies() для преобразования категорий в числа
# drop_first=True помогает избежать ловушки фиктивных переменных
train_dummies_final = pd.get_dummies(train_df[['Sex', 'Pclass', 'IsAlone', 'Age', 'Fare', 'Title']], drop_first=True)
test_dummies_final = pd.get_dummies(test_df[['Sex', 'Pclass', 'IsAlone', 'Age', 'Fare', 'Title']], drop_first=True)

# Синхронизация столбцов (если один из наборов данных вдруг не содержит какого-то редкого титула)
# Это гарантирует, что у train и test одинаковые столбцы
train_dummies_final, test_dummies_final = train_dummies_final.align(test_dummies_final, join='inner', axis=1, fill_value=0)

X = train_dummies_final
test_X = test_dummies_final

print("\nПроверка одинаковых столбцов в X и test_X:")
print(all(X.columns == test_X.columns))

Уникальные титулы после обработки:
Title
Mr        517
Miss      182
Mrs       125
Master     40
Rare       27
Name: count, dtype: int64

Проверка одинаковых столбцов в X и test_X:
True

In [90]:
final_rf = RandomForestClassifier(random_state=1,n_estimators=100)
final_rf.fit(X,y)

final_prediction = final_rf.predict(test_X)
submission = pd.DataFrame({"PassengerId":test_df["PassengerId"],'Survived':final_prediction})
submission.to_csv('subm.csv',index=False)